<%= link_to "Add new todo", new_todo_path %>

<% if !@todos.nil? %>
<div class="todos">
<ul>
  <% @todos.each do |todo| %>
    <li>
      <%= todo.title %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>
